// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #e6ab88;
  --ion-color-primary-rgb: 230, 171, 136;
  --ion-color-primary-contrast: #2f3b55;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #ca9678;
  --ion-color-primary-tint: #e9b394;

  --ion-color-secondary: #348aa7;
  --ion-color-secondary-rgb: 52, 138, 167;
  --ion-color-secondary-contrast: #f9fafc;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #2e7993;
  --ion-color-secondary-tint: #4896b0;

  --ion-color-tertiary: #2f3b55;
  --ion-color-tertiary-rgb: 47, 59, 85;
  --ion-color-tertiary-contrast: #f9fafc;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #29344b;
  --ion-color-tertiary-tint: #444f66;

  --ion-color-success: #48a9a6;
  --ion-color-success-rgb: 72, 169, 166;
  --ion-color-success-contrast: #2f3b55;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #3f9592;
  --ion-color-success-tint: #5ab2af;

  --ion-color-warning: #e4ff1a;
  --ion-color-warning-rgb: 228, 255, 26;
  --ion-color-warning-contrast: #2f3b55;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #c9e017;
  --ion-color-warning-tint: #e7ff31;

  --ion-color-danger: #da4167;
  --ion-color-danger-rgb: 218, 65, 103;
  --ion-color-danger-contrast: #f9fafc;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #c0395b;
  --ion-color-danger-tint: #de5476;

  --ion-color-dark: #2f3b55;
  --ion-color-dark-rgb: 47, 59, 85;
  --ion-color-dark-contrast: #f9fafc;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #29344b;
  --ion-color-dark-tint: #444f66;

  --ion-color-medium: #95a9b6;
  --ion-color-medium-rgb: 149, 169, 182;
  --ion-color-medium-contrast: #2f3b55;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #8395a0;
  --ion-color-medium-tint: #a0b2bd;

  --ion-color-light: #f9fafc;
  --ion-color-light-rgb: 249, 250, 252;
  --ion-color-light-contrast: #2f3b55;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #dbdcde;
  --ion-color-light-tint: #fafbfc;

  --ion-font-family: "Changa", Roboto, "Helvetica Neue", sans-serif;
}
