.mat-expansion-panel {
  background: var(--ion-background-color, #f9fafc);
  color: var(--ion-text-color, #000);
}

div.mat-expansion-panel-body {
  padding: var(--ion-padding, 16px) !important;
}

.mat-expansion-panel-header-title {
  font-weight: bold;
}

.welcome-card {
  position: absolute;
  z-index: 999;
  width: 80%;
  left: 10%;
  top: 15%;
  margin: 0;
}

.bgdark {
  margin-bottom: 40px;
}

ion-backdrop {
  opacity: 0.4;
}
